*{
    margin: 0;
    padding: 0;
}
:root{
    --fondo--: #f8f8ff ;
    --blue-claro--: #5ecbdc;
    --blue-oscuro--: #069cb8;
    --prymary--: #069cb8;
    --secondary--: #dc6f5e;
}
body{
    max-width: 1300px;
    margin: 0 auto;
    background-color: var(--fondo--);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: relative;
}
.navbar{
    position: sticky;
    width: 60%;
    margin: 0 auto;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    border-radius: 0 0 50px 50px;
    color: black;
}
header{
    position: relative;
}
a{
    text-decoration: none;
}
.navbar h3 a{
    color: var(--secondary--);
}
.navbar .links {
    display: flex;
}
.navbar .links a{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--blue-oscuro--);
}
.navbar .links a:hover{
    color: var(--blue-claro--);
}
.navbar .links i{
    font-size: 25px;
}
.eje{
    width: 40px;
}