*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:  Helvetica, sans-serif   ;
}
:root{
    --body-bg: #f5f5fc ;
    --fondoLight--: #e8e8ee;
    --fondoDrack--: #121528;
    --blue-claro--: #5ecbdc;
    --blue-oscuro--: #005f84;
    --primary--: #069cb8;
    --secondary--: #dc6f5e;
}
body{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    max-width: 1260px;
    margin  : 0 auto;
    background-color: var(--body-bg);
}
.contenedor-general{
    display: none;
}
.contenedor-general.active{
    display: block;

}

h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--secondary--);
    margin: 50px 0;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar p{
    margin: 10px;
    font-size: 18px;
}
.navbar ul{
    display: flex;
}

.navbar ul li{
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--primary--);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 10px;
    cursor: pointer;
    margin: 20px;
    transition: background-color .3s ease;
}

.navbar ul li:hover{
    background-color: white;
    color: var(--primary--);
    animation: color .3 ease;
    border: 1px solid var(--primary--);
}

.contenedor p{
    font-size: 20px;
    margin-bottom: 20px;
}
.contenedor input{
    width: 300px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #dfe1e5;
    background-color: white;
    color: #000;
    padding: 20px;
    margin: 20px;
    transition: all .2s ease;
}
.contenedor input:hover{
    box-shadow: 2px 2px 5px #dfe1e5;
}
.contenedor input:focus{
    outline: none;
}
.navbar ul .active-a{
    
    background-color: white;
    color: var(--primary--);
    animation: color .3 ease;
    border: 1px solid var(--primary--);
}
.contenedor-general .resultado1,.contenedor-general .resultado2,.contenedor-general .resultado4{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 20px;
    margin: 0 20px;
}
.contenedor-resultado3{
    display: grid;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin: 0 20px;
}
.resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}
.resultado p{
    font-size: 15px;
    margin: 10px 0;
}
.resultado img{
    padding-top: 10px;
    width: 220px;

}
@media (max-width : 768px) {
}